---
title: We're watching you. Sincerely, the Government.
---

<div id="overlay"> </div>

<div class="socialize" style="position: fixed; top: 10px; right: 10px; height: 350px; z-index: 9999">
	<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
			<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
			<div id="shareitup" style="overflow: visible">
				<div class="fb-like" data-href="http://stillwatchingyou.com" data-send="false" data-layout="box_count" data-width="150" data-show-faces="true"></div>
				<br />				<br />				<br />	
				<a href="https://twitter.com/share" data-text="It's unconstitutional -- but I'm watching you. You can see what I am watching here. Sincerely, the NSA." class="twitter-share-button">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
 </div>

<div id="creep" class="modal">
  <a href="#" class="close">Close</a>
  <div class="title">Is this site creeping you out?</div>
  <div class="content">
    <p class="lead">Tell the U.S. Government: "Want to read my stuff? Go get a warrant."</p>
    
    <form action="http://hq-nt.salsalabs.com/save" method="POST" class="salsa-form">
      <input type="hidden" name="object" value="supporter">
      <input type="hidden" name="organization_KEY" value="501" />
      <div class="field">
        <input type="text" name="Email" placeholder="E-mail"/>
      </div>
      <div class="actions">
        <input type="submit" value="Sign Up"/>
      </div>
    </form>

    <!--<p><input type="checkbox" id="c1" /><label for="c1"><span></span> Sign up to receive occasional updates about defending online privacy.</label></p>-->
  </div>
</div>
<div id="safe" class="modal">
  <a href="#" class="close">Close</a>
  <div class="title">You're safe for now.</div>
  <div class="content">
    <p class="lead">Good thing this site was made by an advocacy group and not the governament, huh? Want to freak out your friends? Share this.</p>
    
    <div class="social-buttons">
      <div>
        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.stillwatchingyou.com" target="_blank" class="social facebook"></a>
        <a href="https://twitter.com/intent/tweet?related=&amp;url=http%3A%2F%2Fwww.stillwatchingyou.com&amp;text=We%27re%20watching%20you.%20Sincerely%2C%20the%20Government&amp;hashtags=stillwatchingyou" class="social twitter"></a>
      </div>
      <div class="clear"></div>
      <div>
        <a href="http://www.tumblr.com/share/link?url=http%3A%2F%2Fwww.stillwatchingyou.com%2F&name=We%27re%20watching%20you.%20Sincerely%2C%20the%20Government&description=By%20now%2C%20everyone%20knows.%20The%20U.S.%20Government%20has%20been%20spying%20on%20us.%20They%27ve%20built%20a%20massive%20surveillance%20system%20that%20uses%20the%20technology%20we%20love%20against%20us." class="social tumblr"></a>
        <a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.stillwatchingyou.com" class="social google"></a>
      </div>
    </div>
  </div>
</div>
<div id="pc">
  <div class="inner">
    <div id="first-type">
      <p class="mono type type-1">I am watching you. I know where you are and what you'll be doing next.</p>
      <p class="mono type type-2">I can target you and make you look like a suspect if I wanted to.</p>
      <p class="mono type type-3">Want to see what I can do? Use the buttons below to look into your own email.</p>
      <p class="mono type type-4"> </p>
      <p class="mono type type-5"> </p>
    </div>

    <div id="search-media">
      <div class="current">
        <h3 class="">Search your <span>Gmail</span> for:</h3>
      </div>

      <div class="switch">
        <a href="#" class="" data-vendor="hotmail">Switch to <span>Hotmail</span></a>
        <p>|</p>
        <a href="#" class="" data-vendor="facebook">Switch to <span>Facebook</span></a>
      </div>

      <div class="content" id="content-gmail">
        <a data-query="drugs" class="btn" href="https://mail.google.com/mail/u/0/?ui=2&shva=1#search/in%3Aanywhere+%22smoke+pot%22+OR+%22smoked+pot%22+OR+%22smoke+herb%22+OR+%22smoked+herb%22+OR+%22bong%22+OR+%22get+weed%22+OR+%22buy+weed%22+OR+%22smoke+a+blunt%22+OR+%22smoked+a+blunt%22+OR+%22shrooms%22+OR+%22MDMA%22+OR+%22smoke+a+joint%22+OR+%22smoked+a+joint%22+OR+%22did+acid%22+OR+%22tried+weed%22+OR+%22ganja%22+OR+%22got+so+high%22+OR+%22get+blazed%22+OR+%22got+blazed%22+OR+%22did+acid%22+OR+%22try+mushrooms%22+OR+%22sell+weed%22+OR+%22MDMA%22+OR+%22smoked+opium%22+OR+%22dropped+acid%22">DRUGS</a>
        <a data-query="sex" class="btn" href="https://mail.google.com/mail/u/0/?ui=2&shva=1#search/in%3Aanywhere+%22i+want+you+so+bad%22+OR+%22sexy+ass%22+OR+%22your+cock%22+OR+%22my+cock%22+OR+%22my+tits%22+OR+%22your+tits%22+OR+%22my+pussy%22+OR+%22your+pussy%22+OR+%22my+cunt%22+OR+%22your+cunt%22+OR+%22dildo%22+OR+%22BDSM%22+OR+%22wanna+fuck%22+OR+%22go+down+on+you%22+OR+%22go+down+on+me%22+OR+%22your+clit%22+OR+%22my+clit%22+OR+%22I+want+to+taste+you%22+OR+%22suck+me+off%22+OR+%22suck+you+off%22+OR+%22had+sex+with%22+OR+%22made+out+with%22+OR+%22had+sex+in%22+OR+%22make+me+cum%22+OR+%22make+you+cum%22">SEX</a>
        <a data-query="partying" class="btn" href="https://mail.google.com/mail/u/0/?ui=2&shva=1#search/in%3Aanywhere+%22i%27m+so+drunk%22+OR+%22so+drunk+last+night%22+OR+%22i%27m+so+wasted%22+OR+%22we+were+wasted%22+OR+%22got+so+fucked+up%22+OR+%22so+trashed%22+OR+%22hangover%22+OR+%22hungover%22+OR+%22got+so+drunk%22+OR+%22got+drunk%22+OR+%22get+drunk%22+OR+%22got+wasted%22+OR+%22get+wasted%22+OR+%22drove+drunk%22+OR+%22got+so+drunk%22+OR+%22tispy%22+OR+%22i%27m+buzzed%22">PARTYING</a>
        <a data-query="torrent" data-query="tax" class="btn" href="https://mail.google.com/mail/u/0/?ui=2&shva=1#search/in%3Aanywhere+%222012+taxes%22+OR+%22SSN%22+OR+%22social+security+number%22+OR+%22W9+form%22+OR+%22form+1090%22+OR+%22my+password+is%22+OR+%22pin+number%22+OR+%22card+number%22+OR+%22pword%22">TAX INFO, SSNs, DOCS</a>
        <div class="clear"></div>
        <a class="btn" href="#">TORRENTING</a>
        <a data-query="guns" class="btn" href="https://mail.google.com/mail/u/0/?ui=2&shva=1#search/in%3Aanywhere+%22buy+a+gun%22+OR+%22buy+guns%22+OR+%22my+gun%22+OR+%22my+new+gun%22+OR+%22my+rifle%22+OR+%22my+pistol%22+OR+%22my+AK%22+OR+%22my+AR-15%22+OR+%22my+shotgun%22+OR+%22shooting+range%22+OR+%22going+hunting%22+OR+%22went+hunting%22+OR+%22let's+go+hunting%22">GUNS</a>
        <a data-query="politics" class="btn" href="https://mail.google.com/mail/u/0/?ui=2&shva=1#search/in:anywhere+%22occupy%22+OR+%22libertarian%22+OR+%22green+party%22+OR+%22anarchist%22+OR+%22communist%22+OR+%22socialist%22+OR+%22union+member%22+OR+%22palestine%22+OR+%22animal+liberation+front%22+OR+%22earth+liberation+front%22+OR+%22black+panther%22+OR+%22defcad%22+OR+%22distributed+defense%22+OR+%22ows%22+OR+%22anonymous%22+OR+%22bash+back%22+OR+%22hamas%22+OR+%22hezbollah%22+OR+%22anti-war%22+OR+%22gay+marriage%22+OR+%22abortion%22+OR+%22free+state+movement%22+OR+%22pro-life%22+OR+%22army+of+god%22+OR+%22minutemen%22+OR+%22golden+dawn%22+OR+%22aryan+nation%22+OR+%22operation+rescue%22">POLITICS</a>
        <div class="clear"></div>
        <a class="btn" href="https://mail.google.com/mail/u/0/?shva=1#search/in%3Aanywhere+%22my+doctor%22+OR+%22your+doctor%22+OR+%22my+therapist%22+OR+%22your+therapist%22+OR+%22herpes%22+OR+%22HIV%22+OR+%22my+test+results%22+OR+%22your+test+results%22+OR+%22AA+meetings%22+OR+%22gonorrhea%22+OR+%22chlamydia%22+OR+%22yeast+infection%22+OR+%22my+meds%22+OR+%22your+meds%22+OR+%22depressed%22+OR+%22HPV%22+OR+%22vaccine%22+OR+%22get+tested%22+OR+%22doctor%27s+appointement%22">HEALTH INFO</a>
        <a class="btn" href="https://mail.google.com/mail/u/0/?ui=2&shva=1#search/in%3Aanywhere+%22don't+tell+anyone%22+OR+%22our+little+secret%22+OR+%22do+not+forward%22+OR+%22keep+it+on+the+DL%22+OR+%22forget+you+heard+this%22+OR+%22you+didn't+hear+it+from+me%22+OR+%22can't+find+out%22">OTHER SECRETS</a>
      </div>
      
      
      <div class="content" id="content-facebook" style="display: none;">
        <a class="btn" href="https://www.facebook.com/messages/search?action=recent-messages&query=weed">WEED</a>
        <a class="btn" href="https://www.facebook.com/messages/search?action=recent-messages&query=bong">BONG</a>
        <a class="btn" href="https://www.facebook.com/messages/search?action=recent-messages&query=pot">POT</a>
        <a class="btn" href="https://www.facebook.com/messages/search?action=recent-messages&query=oxy">OXY</a>
        <a class="btn" href="https://www.facebook.com/messages/search?action=recent-messages&query=torrent">TORRENT</a>
        <a class="btn" href="https://www.facebook.com/messages/search?action=recent-messages&query=guns">GUNS</a>
        <a class="btn" href="https://www.facebook.com/messages/search?action=recent-messages&query=marijuana">MARIJUANA</a>
        <a class="btn" href="https://www.facebook.com/messages/search?action=recent-messages&query=cannabis">CANNABIS</a>
        <a class="btn" href="https://www.facebook.com/messages/search?action=recent-messages&query=ecstacy">ECSTACY</a>
        <a class="btn" href="https://www.facebook.com/messages/search?action=recent-messages&query=mushrooms">MUSHROOMS</a>
        <a class="btn" href="https://www.facebook.com/messages/search?action=recent-messages&query=download">DOWNLOAD</a>
        <a class="btn" href="https://www.facebook.com/messages/search?action=recent-messages&query=MDMA">MDMA</a>
        <a class="btn" href="https://www.facebook.com/messages/search?action=recent-messages&query=fight">FIGHT</a>
        <a class="btn" href="https://www.facebook.com/messages/search?action=recent-messages&query=drunk">DRUNK</a>
      </div>
      
      
      <div class="content" id="content-hotmail" style="display: none;">
        <p style="color: white;">For Hotmail, you have to login first or the searches won't work.</p>
        <a data-query="drugs" class="btn" href="http://blu167.mail.live.com/default.aspx?st=smoke+pot%22+OR+%22smoked+pot%22+OR+%22smoke+herb%22+OR+%22smoked+herb%22+OR+%22bong%22+OR+%22get+weed%22+OR+%22buy+weed%22+OR+%22smoke+a+blunt%22+OR+%22smoked+a+blunt%22+OR+%22shrooms%22+OR+%22MDMA%22+OR+%22smoke+a+joint%22+OR+%22smoked+a+joint%22+OR+%22did+acid%22+OR+%22tried+weed%22+OR+%22ganja%22+OR+%22got+so+high%22+OR+%22get+blazed%22+OR+%22got+blazed%22+OR+%22did+acid%22+OR+%22try+mushrooms%22+OR+%22sell+weed%22+OR+%22MDMA%22+OR+%22smoked+opium%22+OR+%22dropped+acid%22">DRUGS</a>
        <a data-query="sex" class="btn" href="http://blu167.mail.live.com/default.aspx?st=i+want+you+so+bad%22+OR+%22sexy+ass%22+OR+%22your+cock%22+OR+%22my+cock%22+OR+%22my+tits%22+OR+%22your+tits%22+OR+%22my+pussy%22+OR+%22your+pussy%22+OR+%22my+cunt%22+OR+%22your+cunt%22+OR+%22dildo%22+OR+%22BDSM%22+OR+%22wanna+fuck%22+OR+%22go+down+on+you%22+OR+%22go+down+on+me%22+OR+%22your+clit%22+OR+%22my+clit%22+OR+%22I+want+to+taste+you%22+OR+%22suck+me+off%22+OR+%22suck+you+off%22+OR+%22had+sex+with%22+OR+%22made+out+with%22+OR+%22had+sex+in%22+OR+%22make+me+cum%22+OR+%22make+you+cum%22">SEX</a>
        <a data-query="partying" class="btn" href="http://blu167.mail.live.com/default.aspx?st=i%27m+so+drunk%22+OR+%22so+drunk+last+night%22+OR+%22i%27m+so+wasted%22+OR+%22we+were+wasted%22+OR+%22got+so+fucked+up%22+OR+%22so+trashed%22+OR+%22hangover%22+OR+%22hungover%22+OR+%22got+so+drunk%22+OR+%22got+drunk%22+OR+%22get+drunk%22+OR+%22got+wasted%22+OR+%22get+wasted%22+OR+%22drove+drunk%22+OR+%22got+so+drunk%22+OR+%22tispy%22+OR+%22i%27m+buzzed%22">PARTYING</a>
        <a data-query="torrent" data-query="tax" class="btn" href="http://blu167.mail.live.com/default.aspx?st=2012+taxes%22+OR+%22SSN%22+OR+%22social+security+number%22+OR+%22W9+form%22+OR+%22form+1090%22+OR+%22my+password+is%22+OR+%22pin+number%22+OR+%22card+number%22+OR+%22pword%22">TAX INFO, SSNs, DOCS</a>
        <div class="clear"></div>
        <a class="btn" href="#">TORRENTING</a>
        <a data-query="guns" class="btn" href="http://blu167.mail.live.com/default.aspx?st=buy+a+gun%22+OR+%22buy+guns%22+OR+%22my+gun%22+OR+%22my+new+gun%22+OR+%22my+rifle%22+OR+%22my+pistol%22+OR+%22my+AK%22+OR+%22my+AR-15%22+OR+%22my+shotgun%22+OR+%22shooting+range%22+OR+%22going+hunting%22+OR+%22went+hunting%22+OR+%22let's+go+hunting%22">GUNS</a>
        <a data-query="politics" class="btn" href="http://blu167.mail.live.com/default.aspx?st=occupy%22+OR+%22libertarian%22+OR+%22green+party%22+OR+%22anarchist%22+OR+%22communist%22+OR+%22socialist%22+OR+%22union+member%22+OR+%22palestine%22+OR+%22animal+liberation+front%22+OR+%22earth+liberation+front%22+OR+%22black+panther%22+OR+%22defcad%22+OR+%22distributed+defense%22+OR+%22ows%22+OR+%22anonymous%22+OR+%22bash+back%22+OR+%22hamas%22+OR+%22hezbollah%22+OR+%22anti-war%22+OR+%22gay+marriage%22+OR+%22abortion%22+OR+%22free+state+movement%22+OR+%22pro-life%22+OR+%22army+of+god%22+OR+%22minutemen%22+OR+%22golden+dawn%22+OR+%22aryan+nation%22+OR+%22operation+rescue%22">POLITICS</a>
        <div class="clear"></div>
        <a data-query="health" class="btn" href="#">HEALTH INFO</a>
        <a data-query="secrets" class="btn" href="http://blu167.mail.live.com/default.aspx?st=don't+tell+anyone%22+OR+%22our+little+secret%22+OR+%22do+not+forward%22+OR+%22keep+it+on+the+DL%22+OR+%22forget+you+heard+this%22+OR+%22you+didn't+hear+it+from+me%22+OR+%22can't+find+out%22">OTHER SECRETS</a>
      </div>
      <div class="clear"></div>

      <div class="disclaimer">
        <p>*Quick Disclaimer*: This site is for educational purposes. We will never have access to your email or anything that you are searching for. The tool simply allows you to search your *own* email contents in a new window (you'll be asked to login if you're not already).</p>
      </div>
    </div>
    <div class="clear"></div>
    
    <p class="mono type type-6"></p>

    <div class="social-buttons">
      <div>
        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.stillwatchingyou.com" target="_blank" class="social facebook"></a>
        <a href="https://twitter.com/intent/tweet?related=&amp;url=http%3A%2F%2Fwww.stillwatchingyou.com&amp;text=We%27re%20watching%20you.%20Sincerely%2C%20the%20Government&amp;hashtags=stillwatchingyou" class="social twitter"></a>
      </div>
      <div class="clear"></div>
      <div>
        <a href="http://www.tumblr.com/share/link?url=http%3A%2F%2Fwww.stillwatchingyou.com%2F&name=We%27re%20watching%20you.%20Sincerely%2C%20the%20Government&description=By%20now%2C%20everyone%20knows.%20The%20U.S.%20Government%20has%20been%20spying%20on%20us.%20They%27ve%20built%20a%20massive%20surveillance%20system%20that%20uses%20the%20technology%20we%20love%20against%20us." class="social tumblr"></a>
        <a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.stillwatchingyou.com" class="social google"></a>
      </div>
    </div>
  </div>
  <div class="sign-wrapper">
    <div id="sign">
      <div class="pad">
        <h1>This is no joke,<br />and unconstitutional.</h1>
        <h4>The US government has secretly built the largest surveillance system in history - they have our phone calls, location, and more. Tell us if you think this is wrong and want to help stop it.</h4>

        <form action="http://hq-nt.salsalabs.com/save" method="POST" class="salsa-form"> 
          <input type="hidden" name="object" value="supporter">
          <input type="hidden" name="organization_KEY" value="501" />
          <div class="field">
            <input type="text" name="Email" placeholder="E-mail"/>
          </div>
          <div class="actions">
            <input type="submit" value="Sign Up"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="wrapper intro">
  <div class="container">
    <h2>Seriously, Government?</h2>
    <p>By now, everyone knows. The U.S. Government has been spying on us. They've built a massive surveillance system that uses the technology we love against us.</p>
  </div>
</div>

<div class="wrapper less">
  <div class="container">
    <h2 class="thin">In the 1700's peoples' homes were subject to random search and seizure, and in the 1950's the FBI and CIA tracked our correspondences by recording the information on the outside of envelopes and packages. People were outraged, and that's why we have protection of these things under laws like the 4th Amendment and ECPA.</h2>
    
    <div class="use-examples">
      <ul>
        <li data-protected="true" data-text="Protected! Gov't must get a warrant."><i class="icon-envelope"> </i>Postal mail</li>
        <li data-protected="true" data-text="Protected! Gov't must get a warrant."><i class="icon-file"> </i>Personal Papers</li>
        <li data-protected="true" data-text="Protected! Gov't must get a warrant."><i class="icon-phone"> </i>Phone Calls</li>
        <li data-protected="true" data-text="Protected! Gov't must get a warrant."><i class="icon-desktop"> </i>Your Hard Drive</li>
      </ul>
      
      <div class="info">
        <img src="/images/protected.jpg" />
        <p>Protected! Except in extreme circumstances, gov't must get a warrant.</p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper more">
  <div class="container">
    <h2 class="thin">Unfortunately, through secret interpretations of laws and secret courts, the government has been collecting our online data in order to watch over and detect the movements of Internet users everywhere. They also don't think they need a warrant to access information of specific individuals, either.</h2>
    
    <div class="use-examples">
      <ul>
        <li data-protected="false" data-text="The government has said that it can read private emails that have been opened or are more than 6 months old without a warrant. The NSA has been automatically collecting these."><i class="icon-inbox"> </i>E-mail</li>
        <li data-protected="false" data-text="The IRS recently apologized for saying that Internet users have no privacy, and it changed its policy. But other agencies still want to look in or collect your online documents without a warrant." data-protected="true"><i class="icon-file-alt"> </i>Online Docs</li>
        <li data-protected="false" data-text="Text messaging didn't even exist when ECPA was passed."><i class="icon-meh"> </i>Text Messages</li>
        <li data-protected="false" data-text='Given that all kinds of personal and business data is now stored "in the cloud," Congress desperately needs to update ECPA to make it clear that the warrant requirement in the 4th Amendment applies equally to documents and other data stored in the cloud.'><i class="icon-cloud"> </i>Cloud Storage</li>
      </ul>
      
      <div class="info">
        <img src="/images/unprotected.jpg" />
        <p>The gov't has frequently abused a loop-hole in ECPA to read private emails that have been opened or are more than 6 months old.</p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper agencies">
  <div class="container">
    <h2>It's not just the NSA that can spy on you. ANY of these government agencies can get your data thanks to outdated laws like ECPA.</h2>
    <select class="styled-select">
      <option>Internal Revenue Service</option><option>National Security Agency</option><option>Appalachian Regional Commission</option><option>Chemical Safety and Hazard Investigation Board</option><option>Commodity Futures Trading Commission</option><option>Consumer Product Safety Commission</option><option>Corporation for National and Community Service</option><option>Defense Nuclear Facilities Safety Board</option><option>Department of Defense (In court martial proceedings)</option><option>Defense Contract Audit Agency</option><option>Department of Agriculture</option><option>USDA - Food and Nutrition Division</option><option>USDA - Office of General Counsel</option><option>USDA - OGC - Marketing Division</option><option>USDA - OGC - Pollution Control</option><option>USDA - OGC - Regulatory Division</option><option>USDA - Packer and Stockyards Administration</option><option>USDA - Office of Inspector General</option><option>Department of Commerce</option><option>USDOC - National Oceanic and Atmospheric Administration</option><option>USDOC - National Environmental Satellite Data</option><option>Department of Education</option><option>Department of Energy</option><option>DOE - Office of Inspector General</option><option>Department of Energy & Department of the Interior</option><option>Department of Health and Human Services</option><option>HHS - Office of the Inspector General</option><option>HHS - Center for Medicare & Medicaid Services</option><option>HHS - Departmental Appeals Board</option><option>HHS - Office of the General Counsel</option><option>HHS - Medicare Geographic Review Board</option><option>FDA</option><option>Department of Housing and Urban Development</option><option>USDHUD - Finance and Regulatory Enforcement</option><option>Department of the Interior</option><option>DOI - Division of Land and Water</option><option>DOI - Division of Parks and Wildlife</option><option>DOI - Bureau of Indian Affairs</option><option>DOI - Office of the Solicitor</option><option>DOI - Division of Mineral Resources</option><option>Department of Labor</option><option>Department of State Accountability Review Board</option><option>Department of Transportation</option><option>DOT - US Coast Guard G-LMI</option><option>DOT - Coast Guard</option><option>DOT - Federal Aviation Administration</option><option>DOT - National Highway Traffic Safety Admin</option><option>DOT - Research and Special Programs Administration</option><option>DOT - Federal Motor Carrier Safety Administration</option><option>Department of Veteran Affairs</option><option>The Environmental Protection Agency</option><option>EPA - Office of Regulatory Enforcement</option><option>EPA - Office of Site Remediation Enforcement</option><option>EPA - Office of General Counsel Pesticides and Toxic Substances Law Office</option><option>Farm Credit Administration</option><option>FCA - Offices of Inspector General </option><option>Federal Communications Commission</option><option>Federal Deposit Insurance Corporation</option><option>FDIC - Compliance and Enforcement Section</option><option>FDIC - Deputy Counsel to the Inspector General</option><option>FDIC - Resolution Trust Corporation</option><option>Federal Election Commission</option><option>Federal Emergency Management Agency</option><option>Federal Housing Finance Board</option><option>Federal Maritime Commission</option><option>Federal Mine Safety and Health Review Commission</option><option>Board of the Governors of the Federal Reserve System</option><option>Federal Reserve System - Office of the Inspector General</option><option>Federal Trade Commission</option><option>General Services Administration</option><option>GSA - Personal Property Division</option><option>GSA - Board of Contract Appeals</option><option>Foreign Claims Settlement Commission</option><option>Commission on Security and Cooperation in Europe</option><option>US International Trade Commission</option><option>USITC - Office of the Inspector General</option><option>North American Free Trade Agreement</option><option>National Commission on Electronic Fund Transfers</option><option>Legal Services Corporation</option><option>US Merit Systems Protection Board</option><option>National Aeronautics and Space Administration</option><option>National Credit Union Administration</option><option>National Foundation on the Arts and Humanities</option><option>NEA - Inspector General</option><option>National Labor Relations Board</option><option>Federal Labor Relations Authority</option><option>FLRA - Foreign Service Labor Relations Board</option><option>National Science Foundation</option><option>National Transportation Safety Board</option><option>Nuclear Regulatory Commission</option><option>NRC - Office of Management & Budget</option><option>Occupational Safety and Health Review Commission</option><option>Office of Personnel Management</option><option>Pension Benefit Guaranty Corporation</option><option>PBGC - Office of Inspector General</option><option>United States Postal Service</option><option>USPS - Office of Inspector General</option><option>Railroad Retirement Board</option><option>Securities and Exchange Commission</option><option>Small Business Administration</option><option>SBA - Small Business Investment Division</option><option>Tennessee Valley Authority</option><option>Civil Rights Commission</option><option>Corporation of Foreign Security Holders</option><option>Congressional - Executive Commission on The People's Republic of China</option><option>Equal Employment Opportunity Commission</option><option>Federal Trade Commission & Federal Energy Administration</option><option>Foreign Claims Settlement Commission of The United States</option><option>Inspectors General</option><option>National Indian Gaming Commission</option><option>President of the United States</option><option>Surface Transportation Board</option><option>Social Security Administration</option><option>United Nations Educational, Scientific, and Cultural Organization</option><option>Department of Justice</option><option>DOJ - Antitrust Division</option><option>DOJ - Child Exploitation & Obscenity Section, Criminal Division</option><option>DOJ - Commercial Litigation Branch, Civil Division</option><option>DOJ - Fraud Section, Criminal Division</option><option>DOJ - Fraud Section, Criminal Division ; Federal Bureau of Investigation</option><option>DOJ - Organized Crime and Racketeering Section</option><option>DOJ - Drug Enforcement Administration</option><option>DOJ - Federal Bureau of Investigation</option><option>DOJ - Immigration of Naturalization Service </option><option>DOJ - Exec. Office for Immigration Review, Office of the Chief Admin. Hearing Officer</option><option>DOJ - Office of the Inspector General</option><option>Department of the Treasury</option><option>Treasury - Bureau of Alcohol, Tobacco, and Firearms</option><option>Treasury - Office of the Comptroller of the Currency</option><option>Treasury - Customs</option><option>Treasury - Office of Foreign Asset Control</option><option>Treasury - Financial Crimes Enforcement Network</option><option>Treasury - Office of the Inspector General</option><option>Treasury - US Secret Service</option><option>Treasury - Office of Thrift Supervision</option><option>Treasury - Treasury Inspector General for Tax Administration</option>
    </select>
  </div>
</div>

<!--
  <h3>What's worse, digital information is much easier to monitor and store in mass quantities. It's easier for the government to know much, much more about us and this is what they've done with that power:</h3>
  <img class="power" src="/images/power.png"/>
-->
<div class="wrapper aspiration">
  <div class="container">
    <h2>This is how it <strong>should</strong> be. It's pretty simple really:</h2>
    <img class="examples" src="/images/examples.png"/>
    
    <div id="social-cta">
      <h2>Do you agree? Spread the word.</h2>
      <div class="social-buttons">
        <div>
          <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.stillwatchingyou.com" target="_blank" class="social facebook"></a>
          <a href="https://twitter.com/intent/tweet?related=&amp;url=http%3A%2F%2Fwww.stillwatchingyou.com&amp;text=We%27re%20watching%20you.%20Sincerely%2C%20the%20Government&amp;hashtags=stillwatchingyou" class="social twitter"></a>
        </div>
        <div class="clear"></div>
        <div>
          <a href="http://www.tumblr.com/share/link?url=http%3A%2F%2Fwww.stillwatchingyou.com%2F&name=We%27re%20watching%20you.%20Sincerely%2C%20the%20Government&description=By%20now%2C%20everyone%20knows.%20The%20U.S.%20Government%20has%20been%20spying%20on%20us.%20They%27ve%20built%20a%20massive%20surveillance%20system%20that%20uses%20the%20technology%20we%20love%20against%20us." class="social tumblr"></a>
          <a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.stillwatchingyou.com" class="social google"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clear"></div>

<footer>
  <div class="container">
    <div id="logos">
      <a href="http://fightforthefuture.org/"><img src="/images/fftf.png" class="fftf"/></a>
    </div>
    <div class="clear"></div>
    <hr/>

    <h4>A project of Fight for the Future</h4>

    <div class="nav">
      <a href="http://fightforthefuture.org/privacy/">Privacy Policy</a>
      <p>|</p>
      <a href="mailto:press@fightforthefuture.org">Contact Us</a>
    </div>
  </div>

  <div class="clear"></div>
</footer>
